<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>US2Go | Portal | Employees</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img class="logo" src="images/logo.png" alt="US2Go | Portal"/></a>
            </div>
             <!-- Top Menu Items -->
           <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#"><span class="label label-danger">!</span> Reports due tomorrow</a>
                        </li>
                         <li>
                            <a href="#"><span class="label label-warning">!</span> Review the order report</a>
                        </li>
                         <li>
                            <a href="#"><span class="label label-warning">!</span> New employee registered</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Sahithya <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
             <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="reports.html"><i class="fa fa-fw fa-file-text-o"></i> Reports</i></a>
                    </li>
                    <li>
                        <a href="customers.html"><i class="fa fa-fw fa-edit"></i>Customers Angular</a>
                    </li>
                    <li>
                    <li>
                        <a href="customers-jq.html"><i class="fa fa-fw fa-edit"></i>Customers jQuery</a>
                    </li>
                    <li class="active">
                        <a href="employees.html"><i class="fa fa-fw fa-users"></i> Employees</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Employees
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Employees
                            </li>
                        </ol>
                    </div>
                </div>
                
                
                <script>
	angular.module('sortEmpApp', [])

	.controller('mainController', function($scope) {
	  $scope.sortType     = 'LastName'; // set the default sort type
	  $scope.sortReverse  = false;  // set the default sort order
	  $scope.searchEmployee   = '';     // set the default search/filter term
	  
	  // create the list of employees
	  $scope.employees = [{
			'EmployeeID': '1',
			'LastName': 'Davolio',
			'FirstName': 'Nancy',
			'Department': 'Accounting/Finance'
		}, {
			'EmployeeID': '2',
			'LastName': 'Fuller',
			'FirstName': 'Andrew',
			'Department': 'Marketting'
		}, {
			'EmployeeID': '3',
			'LastName': 'Leverling',
			'FirstName': 'Janet',
			'Department': 'Marketting'
		}, {
			'EmployeeID': '4',
			'LastName': 'Peacock',
			'FirstName': 'Margaret',
			'Department': 'Marketting'
		}, {
			'EmployeeID': '5',
			'LastName': 'Buchanan',
			'FirstName': 'Steven',
			'Department': 'IT'
		}, {
			'EmployeeID': '6',
			'LastName': 'Suyama',
			'FirstName': 'Michael',
			'Department': 'IT'
		}, {
			'EmployeeID': '7',
			'LastName': 'King',
			'FirstName': 'Robert',
			'Department': 'Operations'
		}, {
			'EmployeeID': '8',
			'LastName': 'Callahan',
			'FirstName': 'Laura',
			'Department': 'Operations'
		}, {
			'EmployeeID': '9',
			'LastName': 'Dodsworth',
			'FirstName': 'Anne',
			'Department': 'Operations'
		}, {
			'EmployeeID': '10',
			'LastName': 'West',
			'FirstName': 'Adam',
			'Department': 'Accounting/Finance'
		}];
	});
	
	</script>
                

      		
<div class="container" ng-app="sortEmpApp" ng-controller="mainController">
  
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Employee" ng-model="searchEmployee">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'LastName'; sortReverse = !sortReverse">
            Last Name
            <span ng-show="sortType == 'LastName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'LastName' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'FirstName'; sortReverse = !sortReverse">
          First Name
            <span ng-show="sortType == 'FirstName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'FirstName' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'Department'; sortReverse = !sortReverse">
          Department
            <span ng-show="sortType == 'Department' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'Department' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="emp in employees | orderBy:sortType:sortReverse | filter:searchEmployee">
        <td>{{ emp.LastName }}</td>
        <td>{{ emp.FirstName }}</td>
        <td>{{ emp.Department }}</td>
      </tr>
    </tbody>
    
  </table>
  
</div>
      		<div class="row">
      		 <div class="col-lg-12">
                	Tablular data with search and column sorting using <a href="https://docs.angularjs.org/api/ng/" target="_blank">AngularJS </a> 
                </div>
                <div class="col-lg-12">
                	Dummy data used from W3schools Sample database <a href="http://www.w3schools.com/sql/trysql.asp?filename=trysql_select_alias_column" target="_blank">W3Schools.com </a> 
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

</html>
